button{
	border-radius: 0;
	border: solid 2px #000;
	background-color: transparent;
	padding: 2rem;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	font-weight: bolder;
    margin-right: 1rem;
    margin-top: 1rem;
}

button:hover{
	background-color: #000;
	color: #fff;
}